.DS_Store
__pycache__/
inputFiles/*.pdf
dist/
build/
env

# logs
*.log

# ignore input / output folders
merger/input/*.pdf
merger/output/*.pdf
splitter/input/*.pdf
splitter/output/*.pdf
jupyter_notebooks/input/*.pdf
jupyter_notebooks/input/*.png
jupyter_notebooks/output/*.pdf