.DS_Store
.pytest_cache/
__pycache__/
inputFiles/*.pdf
dist/
env

# Wails build output - do not ignore
!pdf_wizard/build/

# logs
*.log

# ignore input / output folders
legacy/merger/input/*.pdf
legacy/merger/output/*.pdf
legacy/splitter/input/*.pdf
legacy/splitter/output/*.pdf
legacy/jupyter_notebooks/input/*.pdf
legacy/jupyter_notebooks/input/*.png
legacy/jupyter_notebooks/output/*.pdf
