html {
    background-color: #ffffff;
    text-align: center;
    color: black;
}

body {
    margin: 0;
    background-color: #ffffff;
    color: black;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#root {
    height: 100vh;
    background-color: #ffffff;
    /* Ensure root can receive drag and drop events */
    position: relative;
}

#app {
    height: 100vh;
    text-align: center;
    background-color: #ffffff;
}
